<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&family=Stoke:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend_app.static', filename='style.css') }}">
    <title>AdCopyGenie</title>
  </head>
  <body>
    <div id="vm" class="container pt-5">
      <div class="row justify-content-center">
	      <div class="col-4">
		      <h1>AdCopyGenie</h1>
	      </div>
      </div>
      <div class="row justify-content-center pt-2">
	      <div class="col-8">
		      <h2>Paste your product description below and choose a language</h2>
	      </div>
      </div>
      <div class="row justify-content-center">
	      <div class="col-4">
		      <div class="form-group">
			      <label for="description">Product description</label>
			      <textarea class="form-control" id="description" rows="3" v-model="description"></textarea>
		      </div>
		      <div class="form-group">
			      <label for="language">Language</label>
			      <select class="form-control" id="language" v-model="language">
				      <option>Swedish</option>
				      <option>English</option>
			      </select>
		      </div>
	      </div>
      </div>
      <div class="row justify-content-center pt-2" v-if="response_is_loaded_once">
        <div class="card">
          <div class="card-header">
		Title optimized for Google shopping ads
            </div>
            <div class="card-body">
		    <h2>[[ loaded_title ]]</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-2" v-if="response_is_loaded_once">
        <div class="card">
          <div class="card-header">
		Text for use in ads
            </div>
            <div class="card-body">
              [[ loaded_text_ad ]]
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-2" v-if="response_is_loaded_once">
        <div class="card">
          <div class="card-header">
		Video script for a 15s long ad
            </div>
            <div class="card-body">
		    <span style="white-space: pre;">
              [[ loaded_video_script ]]
		    </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-2">
        <div class="col-3">
          <div class="spinner-border" role="status" v-if="loading">
            <span class="visually-hidden">Loading...</span>
          </div>
            <button id="btn_get_ads" type="button" class="btn btn-lg btn-primary" @click="get_ads" v-else>
              <h2><strong>Get ads</strong></h2>
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="{{ url_for('frontend_app.static', filename='index.js') }}"></script>
  </body>
</html>
